<template>
  <div class="xxx-##name##">
  </div>
</template>

<script>
import $ from 'jquery'
export default {
  components: {},
  props: {},
  data() {
    return {}
  },
  beforeCreate() {},
  created() {},
  beforeMount() {},
  mounted() {},
  beforeUpdate() {},
  updated() {},
  beforeDestroy() {},
  destroyed() {},
  computed:{},
  methods: {}
}
</script>

<style scoped>
</style>
