{
  "name": "{{name}}",
  "version": "1.0.0",
  "description": "",
  "main": "dist/main.min.js",
  "keywords": [],
  "author": "",
  "license": "ISC",
  "dependencies": {

  },
  "devDependencies": {
  }
}