<div class="vt-view-table">
    <div class="vt-focus vt-focus-start" tabIndex='0' hideFocus></div>
    <div class="vt-table-header">
        <div class='cm-scroll vt-table  vt-table-header-left'>
            <div class="cm-scroll-view">
                <div class='cm-scroll-body'></div>
            </div>
        </div>
        <div class='cm-scroll vt-table  vt-table-header-center'>
            <div class="cm-scroll-view">
                <div class='cm-scroll-body'></div>
            </div>
        </div>
        <div class='cm-scroll vt-table  vt-table-header-right'>
            <div class="cm-scroll-view">
                <div class='cm-scroll-body'></div>
            </div>
        </div>
    </div>

    <div class="vt-table-body">
        <div class='cm-scroll vt-table vt-table-body-top-left'>
            <div class="cm-scroll-view">
                <table class="cm-scroll-body" cellpadding="0" cellspacing="0" border="0">
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class='cm-scroll vt-table vt-table-body-top-center'>
            <div class="cm-scroll-view">
                <table class="cm-scroll-body" cellpadding="0" cellspacing="0" border="0">
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class='cm-scroll vt-table vt-table-body-top-right'>
            <div class="cm-scroll-view">
                <table class="cm-scroll-body" cellpadding="0" cellspacing="0" border="0">
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class='cm-scroll vt-table vt-table-body-bottom-left'>
            <div class="cm-scroll-view">
                <table class="cm-scroll-body" cellpadding="0" cellspacing="0" border="0">
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class='cm-scroll vt-table vt-table-body-bottom-center'>
            <div class="cm-scroll-view">
                <table class="cm-scroll-body" cellpadding="0" cellspacing="0" border="0">
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class='cm-scroll vt-table vt-table-body-bottom-right'>
            <div class="cm-scroll-view">
                <table class="cm-scroll-body" cellpadding="0" cellspacing="0" border="0">
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="vt-table-nodata">暂无数据</div>
    </div>
    <div class="vt-focus vt-focus-end" tabIndex='0' hideFocus></div>
</div>